// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.like-btn {
color: #808080;
font-size: 18px;
}

.unlike-btn {
color: #ffd900;
font-size: 18px;
}

.likes-count {
  font-size: 18px;
}

